<html>
<head>
  <link href="/assets/clean_code_72_color.png" rel="icon" type="image/png">
  <title>Clean Coder Blog</title>
  <link href="/assets/std.css" rel="stylesheet" type="text/css">
  <link href="/assets/blog.css" rel="stylesheet" type="text/css">
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/atom.xml">
</head>
<body>
<a href="/"><img align="left" src="/assets/clean_code_72_color.png"></a>
<h1>
  <br/><br/>
  <div style="text-align:center"> The Clean Code Blog</div></h1>
<div style="text-align:center">by Robert C. Martin (Uncle Bob)</div>
<header >

</header>
<section>
  <div class="container">{{ content }}</div>
</section>
<footer>

</footer>

</body>
</html>